<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd "
       default-init-method="init"
       default-destroy-method="destory">

    <bean id="beanTeamplate" abstract="true">
        <property name="message" value="Hello World!"/>
        <property name="message2" value="Hello Second World!"/>
        <property name="message3" value="Namaste India!"/>
    </bean>

    <bean id="helloWorld"
          class="cn.marvin.springdemo.HelloWorld"
          scope="singleton">
        <property name="message" value="Hello Marvin!"/>
        <property name="message2" value="Hello Jack!"/>
    </bean>

    <bean id="newHello"
          class="cn.marvin.springdemo.NewHello"
          scope="singleton"
          parent="beanTeamplate">
        <property name="message" value="Hello Super Marvin"/>
        <property name="message3" value="Hello Super Jack!"/>
    </bean>

    <bean id="textEditor"
          class="cn.marvin.springdemo.TextEditor">
        <constructor-arg ref="spellChecker">
        </constructor-arg>
    </bean>

    <context:annotation-config/>

    <bean id="textEditor2"
          class="cn.marvin.springdemo.TextEditor2">
        <!--autowire="byName"-->
        <!--<property name="spellChecker" ref="spellChecker"/>-->
    </bean>

    <bean id="spellChecker"
          class="cn.marvin.springdemo.SpellChecker">
    </bean>

    <bean id="injectDemo"
          class="cn.marvin.springdemo.InjectDemo">
        <constructor-arg type="java.lang.String" value="Marvin"/>
        <constructor-arg type="int" value="25"/>
    </bean>

    <bean id="injectDemo2"
          class="cn.marvin.springdemo.InjectDemo2"
          p:name="Marvin"
          p:age="25">
    </bean>

    <bean id="javaCollection"
          class="cn.marvin.springdemo.JavaCollection">
        <property name="addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>
        <property name="addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>
        <property name="addressMap">
            <map>
                <entry key="1" value="INDIA"></entry>
                <entry key="2" value="Pakistan"></entry>
                <entry key="3" value="USA"></entry>
                <entry key="4" value="USA"></entry>
            </map>
        </property>
        <property name="addressProperties">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">USA</prop>
                <prop key="four">USA</prop>
            </props>
        </property>
    </bean>

    <bean id="student_1"
          class="cn.marvin.springdemo.Student">
        <property name="name" value="Marvin"/>
        <property name="age" value="25"/>
    </bean>

    <bean id="student_2"
          class="cn.marvin.springdemo.Student">
        <property name="name" value="Supper Marvin"/>
        <property name="age" value="25"/>
    </bean>

    <bean id="profile"
          class="cn.marvin.springdemo.Profile">
    </bean>

    <bean id="textEditor3"
          class="cn.marvin.springdemo.TextEditor3"></bean>

    <!--事件-->
    <bean id="cStartEventHandler"
          class="cn.marvin.springdemo.CStartEventHandler"/>
    <bean id="cStopEventHandler"
          class="cn.marvin.springdemo.CStopEventHandler"/>

    <!--自定义事件-->
    <bean id="customEventPublisher"
          class="cn.marvin.springdemo.CustomEventPublisher"/>
    <bean id="customEventHandler"
          class="cn.marvin.springdemo.CustomEventHandler"/>
    <!--<bean class="cn.marvin.springdemo.InitHelloWorld" />-->

    <!--AOP-->
    <!--<aop:config>-->
        <!--<aop:aspect id="log"-->
                    <!--ref="logging">-->
            <!--<aop:pointcut id="selectAll"-->
                          <!--expression="execution(* cn.marvin.springdemo.*.*(..))"/>-->
            <!--<aop:before method="beforeAdvice"-->
                        <!--pointcut-ref="selectAll"/>-->
            <!--<aop:after method="afterAdvice"-->
                       <!--pointcut-ref="selectAll"/>-->
            <!--<aop:after-returning method="afterReturningAdvice"-->
                                 <!--pointcut-ref="selectAll"-->
                                 <!--returning="retVal"/>-->
            <!--<aop:after-throwing method="AfterThrowingAdvice"-->
                                <!--pointcut-ref="selectAll"-->
                                <!--throwing="ex"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
    <aop:aspectj-autoproxy/>
    <bean id="student"
          class="cn.marvin.springdemo.Student">
        <property name="name" value="Marvin"/>
        <property name="age" value="25"/>
    </bean>
    <bean id="logging"
          class="cn.marvin.springdemo.Logging"/>
    <bean id="noteLogging"
          class="cn.marvin.springdemo.NoteLogging"/>

    <!--JDBC-->
    <context:property-placeholder location="jdbc.properties"/>
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <bean id="userJDBCTemplate"
          class="cn.marvin.springdemo.jdbc.UserJDBCTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>